<!--  <ion-header-bar class="bar-dark" >
      <h1 class="title">EnjoyCity</h1>
 </ion-header-bar> -->
    

      <div id="main-menu">
      
	      <div style="height:30%;padding-top:40%;">
			<button  class="button button-full button-stable button-balanced main-button" ng-click="feelings()">
			  <h1>How do you feel today?</h1>
			</button>
	      </div>

	      <div style="height:30%;padding-top:25%;">	
		      <div style="margin-left:46%; width:8%;">
			      <h1 style="color:#79CDCD;align:center" >or</h1>
		      </div>
	      </div>
	      
	      <div style="height:30%;padding-top:10%">
			<button  class="button button-full button-balanced main-button" ng-click="explore()">
			  <h1>Explore</h1>
			</button>
	      </div>
			
      </div>
